<div class="d-flex justify-content-center">
  <div class="col-md-4 col-xl-3 chat">
    <app-chat-list
      [contactList]="contactList"
      (selectEvent)="selectContact($event)"
      (globalMessagesEvent)="selectGlobalMessages()"
    ></app-chat-list>
  </div>
  <div class="col-md-7 col-xl-6 chat">
    <app-conversation
      *ngIf="!globalMessagesSelected && selectedContact"
      [contact]="selectedContact"
      [conversation]="getConversationOfContact(selectedContact)"
    ></app-conversation>
    <app-global-conversation
      *ngIf="globalMessagesSelected"
      [currentUser]="currentUser"
      [conversation]="this.globalMessages"
    ></app-global-conversation>
  </div>
</div>
